.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;

  > div > a {
    color: rgb(5, 192, 165);
    font-family: 'SFProText-Medium';
    font-size: 14px;
    text-decoration: none;
  }
}

.header {
  color: rgb(11, 26, 64);
  font-family: 'SFProText-Bold';
  font-size: 30px;
}

hr {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  color: rgb(232, 232, 232);
  border: 1px solid rgb(232, 232, 232);
}


.faq-wrapper {
  margin: 0 auto;
  width: 70%;
}