.question-txt {
  color: rgb(51, 71, 88);
  font-family: SFProText-Medium;
  font-size: 16px;
}

.question-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  padding: 10px 0 10px 0;
}

hr {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  color: rgb(232, 232, 232);
  border: 1px solid rgb(232, 232, 232);
}

.toggle-icon {
  color: rgb(0, 57, 69);
  cursor: pointer;
  font-family: SFProText-Medium;
  font-size: 30px;
}

.answer-container {
  font-family: SFProText-Regular;
  font-size: 14px;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-top: 15px;
}