@font-face {
  font-family: SFProDisplay-Bold;
  font-display: block;
  src: url('~@/assets/fonts/SFPRoDisplay-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay-Regular;
  font-display: block;
  src: url('~@/assets/fonts/SFPRoDisplay-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay-Medium;
  font-display: block;
  src: url('~@/assets/fonts/SFPRoDisplay-Medium.otf');
  font-weight: normal;
  font-style: normal;
}