@font-face {
  font-family: 'SFProDisplay-Bold';
  font-display: block;
  src: url('~@/assets/fonts/SFProDisplay-Bold.ttf'),
  url('~@/assets/fonts/SF-Pro-Display-Bold.eot'),
  url('~@/assets/fonts/SF-Pro-Display-Bold.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  font-display: block;
  src: url('~@/assets/fonts/SFProDisplay-Regular.ttf'),
  url('~@/assets/fonts/SF-Pro-Display-Regular.eot'),
  url('~@/assets/fonts/SF-Pro-Display-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  font-display: block;
  src: url('~@/assets/fonts/SF-Pro-Display-Medium.otf'),
  url('~@/assets/fonts/SF-Pro-Display-Medium.eot'),
  url('~@/assets/fonts/SF-Pro-Display-Medium.woff');
  font-weight: normal;
  font-style: normal;
}